.faceCard {
  width: 400px;
}

img {
  width: 100%;
  position: relative;
}

// this just rotates the whole image
.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
