.left {
  width: 49px;
  position: absolute;
  top: 147px;
  left: 199px;
}

.right {
  width: 35px;
  position: absolute;
  top: 154px;
  left: 270px;
}

// .rotate {
//   animation: rotation 8s infinite linear;
// }
// @keyframes rotation {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(359deg);
//   }
// }
